/*Font-size*/
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
/*colores*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
.redes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
}

footer {
  height: 40vh;
  position: relative;
  bottom: 0;
  margin: 18px auto 10px auto;
  padding: 0 0 0 50px;
  background-color: violet;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
@media screen and (max-width: 450px) {
  footer .footer-txt h3, footer .footer-txt h5, footer .footer-txt h6 {
    font-size: 12px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  footer .contacto_text {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  footer .contacto_text {
    display: none;
  }
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
.redes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
}

@media screen and (max-width: 450px) {
  .div-img .imagenes {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 15vh;
  }
  .div-img img {
    position: absolute;
    width: 100%;
    animation: display 20s infinite;
  }
  .div-img .img_1 {
    animation-delay: 3s;
  }
  .div-img .img_2 {
    animation-delay: 6s;
  }
  .div-img .img_3 {
    animation-delay: 9s;
  }
  .div-img .img_4 {
    animation-delay: 12s;
  }
  .div-img .img_5 {
    animation-delay: 15s;
  }
  .div-img .img_6 {
    animation-delay: 18s;
  }
  .div-img .img_7 {
    animation-delay: 21s;
  }
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
}

/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
.redes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
}

html {
  margin: 2px;
  padding: 2px;
}
html body {
  background: rgb(231, 251, 190);
  background: radial-gradient(circle, rgb(231, 251, 190) 23%, rgb(248, 228, 240) 65%);
  height: 100vh;
  padding: 5px;
}
@media screen and (max-width: 450px) {
  html body {
    height: 50rem;
  }
}
html body header .tittle {
  font-family: "Luckiest Guy", cursive;
  font-weight: 100;
  font-size: 40px;
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  html body header .tittle {
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  html body header .tittle {
    font-size: 30px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  html body header .menu {
    background: radial-gradient(circle, rgb(231, 251, 190) 23%, rgb(248, 228, 240) 65%);
  }
}
@media screen and (max-width: 450px) {
  html body header .menu {
    background: radial-gradient(circle, rgb(231, 251, 190) 23%, rgb(248, 228, 240) 65%);
  }
}
@media screen and (max-width: 450px) {
  html main .intro {
    height: 150px;
    margin: 20px auto auto auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  html h1, html h3 {
    font-size: 25px;
  }
  html h4, html h5, html h6, html p {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  html h1, html h3 {
    font-size: 20px;
  }
  html h4, html h5, html h6, html p {
    font-size: 18px;
  }
}

.redes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
}

/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
.redes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
}

@media screen and (max-width: 450px) {
  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
