/*Font-size*/
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
/*colores*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
footer {
  height: 25vh;
  position: relative;
  bottom: 0;
  background-color: violet;
  color: whitesmoke;
}
footer .div-footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
footer .contacto {
  z-index: 2;
  display: flex;
  justify-content: end;
  margin: -30px 11px;
}
footer .footer-txt {
  margin: 5px;
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  footer .footer-txt h3, footer .footer-txt h5, footer .footer-txt h6 {
    font-size: 18px;
    font-weight: 700;
  }
}
@media screen and (max-width: 450px) {
  footer .footer-txt h3, footer .footer-txt h5, footer .footer-txt h6 {
    font-size: 12px;
    font-weight: 700;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  footer .contacto_text {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  footer .contacto_text {
    display: none;
  }
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
@media screen and (max-width: 450px) {
  .div-img .imagenes {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 15vh;
  }
  .div-img img {
    position: absolute;
    width: 100%;
    animation: display 20s infinite;
  }
  .div-img .img_1 {
    animation-delay: 3s;
  }
  .div-img .img_2 {
    animation-delay: 6s;
  }
  .div-img .img_3 {
    animation-delay: 9s;
  }
  .div-img .img_4 {
    animation-delay: 12s;
  }
  .div-img .img_5 {
    animation-delay: 15s;
  }
  .div-img .img_6 {
    animation-delay: 18s;
  }
  .div-img .img_7 {
    animation-delay: 21s;
  }
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
}

/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
html {
  margin: 2px;
}
html body {
  background: rgb(231, 251, 190);
  background: radial-gradient(circle, rgb(231, 251, 190) 23%, rgb(248, 228, 240) 65%);
  height: 100vh;
  padding: 5px;
}
@media screen and (max-width: 450px) {
  html body {
    height: 50rem;
  }
}
html body header .tittle {
  font-family: "Luckiest Guy", cursive;
  font-weight: 100;
  font-size: 40px;
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  html body header .tittle {
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  html body header .tittle {
    font-size: 30px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  html body header .menu {
    background: radial-gradient(circle, rgb(231, 251, 190) 23%, rgb(248, 228, 240) 65%);
  }
}
@media screen and (max-width: 450px) {
  html body header .menu {
    background: radial-gradient(circle, rgb(231, 251, 190) 23%, rgb(248, 228, 240) 65%);
  }
}
html .main_index {
  /*  .paw1{
        position: relative;
        z-index: -1;
        width: 7%;
        animation: walk 7s steps(7, end) infinite;
          @keyframes walk {
            to {
              transform: translateY(-500px);
            }
          }
    }
    .paw2{
        position: relative;
        z-index: -1;
        width: 7%;
        animation: walk 7s steps(5, end) infinite;
          @keyframes walk {
            to {
              transform: translateY(-500px);
            }
          }
    }
    */
}
html .main_index .caja-texto {
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 40px;
}
html .main_index .imagenes {
  display: flex;
  justify-content: space-between;
  margin-top: 220px;
  z-index: 2;
}
@media screen and (max-width: 450px) {
  html .main_index .imagenes {
    margin-top: 20px;
  }
}
@media screen and (max-width: 450px) {
  html .main_index .texto {
    font-size: 12px;
    text-align: center;
  }
}
html .main_index .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -80px;
  z-index: 3;
}
html .main_index .img {
  display: flex;
  justify-content: center;
}
html .main_index .img_nos {
  width: 25vw;
  z-index: 2;
  position: relative;
  border-radius: 70%;
  top: 46px;
}
html .main_index .img_serv {
  position: relative;
  z-index: 2;
  border-radius: 70%;
  width: 25vw;
  top: -145px;
  background-color: white;
}
@media screen and (max-width: 450px) {
  html .main_index .img_serv {
    top: 0;
  }
}
html .main_index .img {
  transition-property: all;
  transition-duration: 2s;
}
html .main_index .img:hover {
  opacity: 0.75;
  transform: scale(1);
}
html .main_index .servicios {
  position: relative;
}
html .main_index .img_volun {
  width: 25vw;
  z-index: 2;
  position: relative;
  border-radius: 70%;
  top: 46px;
}
html .main_index .img_adopcion {
  width: 45vw;
  z-index: 2;
  position: relative;
  border-radius: 70%;
  top: -80px;
}
@media screen and (max-width: 450px) {
  html .main_index .img_adopcion {
    top: 20px;
  }
}
@media screen and (max-width: 450px) {
  html .main_index .intro {
    height: 150px;
    margin: 20px auto auto auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  html h1, html h3 {
    font-size: 25px;
  }
  html h4, html h5, html h6, html p {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  html h1, html h3 {
    font-size: 20px;
  }
  html h4, html h5, html h6, html p {
    font-size: 18px;
  }
}

/*Font-size*/
/*Font*/
/*colores*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.intro {
  text-align: center;
}

main {
  padding: 30px;
}

/*Font-size*/
/*Font*/
/*colores*/
/*Font-size*/
/*Font*/
/*colores*/
@media screen and (max-width: 450px) {
  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

textarea {
  height: 20vh;
  width: 47vw;
  margin: 0px 10px;
}

.map {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
