

%flex{
       display: flex;
       justify-content: center; 
     }


%flex-align{
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: flex-start;
}

%border{
  border: solid 2px whitesmoke;
}

 