@import './listas';

$footer:(
    bg-footer: violet,
    txt-color: whitesmoke,
    font: $font-tex,
    margin: 18px auto 10px auto,
    padding: 0 0 0 50px,
    height: 25vh,
    height-m: 33vh,
    margin-m: 18px 0 0 0,
);


