@import '../bases/generales';
@import '../bases/listas';
@import '../bases/media';
@import '../bases/mapas';
@import '../bases/extend';


footer{
    height: map-get($footer, height);
    position: relative;
    bottom: 0;
    background-color: map-get($footer, bg-footer );
    color: map-get($footer, txt-color);
   .div-footer{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    }
    .contacto{
        z-index: 2;
        display: flex;
        justify-content: end; 
        margin: -30px 11px;
    }
    .footer-txt{
        margin: 5px;
        @include tablet{
            h3, h5, h6{
                font-size: nth($font-size, 5);
            font-weight: $font-bold;
        }
        }
        @include mobile{
            h3, h5, h6{
                font-size: nth($font-size, 6);
                font-weight: $font-bold;
            }
        }
    }
    .contacto_text{
        @include tablet{
            display: none;
        }
        @include mobile{
            display: none;
        }
    }  
}

