
html{
    margin: 2px;
    body{
        background:$bg;
        background:$bg-color-1;
        height: 100vh;
        padding: 5px;
        header{
            .tittle{
                font-family: $nav-font;
                font-weight: $font-thin;
                font-size: nth($font-size, 1);
                    @include tablet{
                        font-size: nth($font-size, 3);
                    }
                    @include mobile{
                        font-size: nth($font-size, 2);
                    }
            }
            .menu{
                @include tablet{
                    background: $bg-color-1;
                }
                @include mobile{
                    background: $bg-color-1;
                }
            }
        }
    }
    .main_index{
        .intro{  
            @include mobile{
            height: 150px;
            margin: 20px auto auto auto;
           }
        } 
        .caja-img{ 
            border-top: solid 2px whitesmoke;
            border-bottom: solid 2px whitesmoke; 
            margin-top: 40px;
            padding: 70px;
        }
        .caja-texto{
            background: white; 
            @extend %flex;
            border-radius: 40px;
        }
        .imagenes{
            display: flex;
            justify-content: space-around;
            margin-top: 125px;
            z-index: 2;
            @include mobile{  
                position: relative;
                top: 40px; 
                left: 15px;
                margin: -25px;
            }
        }
        .texto{ 
            @include mobile{ 
                font-size: 12px;
                text-align: center;
            }
        }
        .txt{
            color: black;
            font-family: $nav-font;
            font-size: nth($font-size, 1 );
            position: absolute;
            top: 95px;
            left: 8px;
            z-index: 3;
            @include tablet{
                font-size: nth($font-size, 3 );
                top: 40%;
            }
            @include mobile{
                font-size: nth($font-size, 7 );

            }
        }  
        .txt_serv{
            @include tablet{
                font-size: nth($font-size, 3 );
                top: 0;
            }
        }
        .txt_vol{
            @include mobile{
                position: relative;
                top: -85px;
                left: -30px;
            }
            @include tablet{
                position: relative;
                top: -85px;
                left: -30px;
            }
        }
        .txt_adopta{
            position: relative;
            left: 80%;
            top: -88px;
            @include mobile{
                left: 75%;
                top: -5px;
            }
        }
        .img{
            position: relative;
            display: inline-block;
            text-align: center;
          
        } 
        
        .img_nos{ 
            width: 25vw;
            z-index: 2;
            position: relative;
            border-radius: 70%;
            top: 46px;
            }
        
        .img_serv{
            position: relative;
            z-index: 2;
            border-radius: 70%;
            width: 25vw;
            top: -145px;
            background-color: white; 
            @include mobile{
                top: 0;
            }
            @include tablet{
                top: -95px;
            }
        }
        .img{
            transition-property: all;
            transition-duration: 2s;
        }
        .img:hover {
            opacity: .75;
            transform: scale(1);
        }
        .servicios{
            position: relative;
        }
        .img_volun{
            width: 25vw;
            z-index: 2;
            position: relative;
            border-radius: 70%;          
            top: 46px;  
        }
        
        .img_adopcion{
            width: 45vw;
            z-index: 2;
            border-radius: 70%;   
            position: relative;
            left: 245px;
           
            @include mobile{
                top: 40px;
                left: 25px;
            }         
            @include tablet{
                left: 100px;
            }
        }
        .card-txt{
            @include mobile{
                font-size: nth($font-size, 6 );
            }
        }

        .testimonios{  
            display: grid;
            grid-template-columns: 4fr 4fr 0fr 0fr; 
            margin-bottom: 40px;
            @include mobile{
                margin-top: 60px;
                grid-template-columns: none;
                gap: 80px;
            }
        }
        .caja1, .caja2{ 
            background-color: #fcfcfc85;
            border-radius: 50%;
            @extend %border;
        }
    }

    @include tablet{
        h1, h3{
            font-size: nth($font-size, 3);
        }
        h4, h5, h6, p{
            font-size: nth($font-size, 4 );
        }
    }
    @include mobile{
        h1, h3{
            font-size: nth($font-size, 4);
        }
        h4, h5, h6, p{
            font-size: nth($font-size, 5 );
        }
    }

}


 


 
